#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: linear-gradient(
    to right top,
    #0dbffd,
    #1792cd,
    #16689d,
    #0c426e,
    #001f41
  );
}

.image img {
  display: grid;
  margin: 10px;
  margin-top: 30px;
  max-width: 500px;
  max-height: 250px;
  grid-template-columns: 1fr;
  border-radius: 25px;
}

.card-text {
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: left;
  align-items: left;
  float: left;
}

.article-title {
  display: grid;
  grid-template-columns: 350px 1fr;
}

.article-info {
  display: grid;
  text-align: right;
  left: 100px;
  margin-right: 15px;
}

.nav-bar {
  margin: 10px;
}

ul {
  list-style-type: none;
}

.article-card {
  background-image: linear-gradient(to left, #9df9ef, #51e2f5);
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: 20rem;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  border-radius: 25px;
  flex-wrap: wrap;
  overflow: hidden;
}
