#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: linear-gradient(
    to right top,
    #0dbffd,
    #1792cd,
    #16689d,
    #0c426e,
    #001f41
  );
}
.article-card {
  background-image: linear-gradient(to left, #9df9e2, #51f5ed);
  display: flex;
  flex-direction: column;
  width: 60em;
  height: 20rem;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  border-radius: 25px;
  flex-wrap: wrap;
  overflow: hidden;
}

#votes {
  font-size: 20px;
}

#comment-user {
  font-weight: 500;
}

.comment-card {
  font-weight: 1000;
  background-image: linear-gradient(to left, rgb(255, 0, 0), rgb(255, 86, 168));
  max-height: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.articles-image img {
  display: grid;
  margin: 10px;
  margin-top: 30px;
  max-width: 500px;
  max-height: 250px;
  grid-template-columns: 1fr;
  border-radius: 25px;
}

.card-text {
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: left;
  align-items: left;
  float: left;
}

.article-title {
  display: grid;
  grid-template-columns: 350px 1fr;
}

.article-info {
  display: grid;
  text-align: right;
  left: 100px;
  margin-right: 15px;
}

.nav-bar {
  margin: 10px;
}

ul {
  list-style-type: none;
  background-color: black;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 25px;
  background-image: linear-gradient(to left, #000536, #190063);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}
.article-card:hover {
  cursor: pointer;
  border-style: groove;
  border-width: 5px;
  border-color: rgb(0, 237, 254);
  background-image: linear-gradient(
    to bottom,
    rgb(255, 0, 0),
    rgb(255, 86, 168)
  );
}

.single-article-author {
  justify-content: center;
  position: relative;
  top: -40px;
  font-size: 20px;
}

.single-article-card {
  background-image: linear-gradient(to left, #9df9e2, #51f5ed);
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.single-article-image {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  height: auto;
  width: 400px;
  position: relative;
  left: 50px;
  top: -20px;
}

.single-article-body {
  display: grid;
  position: relative;
  width: 450px;
  height: auto;
  top: -120px;
  left: 775px;
  font-size: 25px;
  margin: -10px;
  text-align: left;
}

img {
  border-radius: 25px;
}

.article-id {
  display: none;
}

#single-article-title {
  font-size: 50px;
}

#single-article-votes {
  margin: 0px;
}
