#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: linear-gradient(
    to right top,
    #0dbffd,
    #1792cd,
    #16689d,
    #0c426e,
    #001f41
  );
}
.article-card {
  background-image: linear-gradient(to left, #9df9e2, #51f5ed);
  display: flex;
  flex-direction: column;
  width: 60em;
  height: 20rem;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  border-radius: 25px;
  flex-wrap: wrap;
  overflow: hidden;
}

#comment-list {
  position: relative;
  justify-content: center;
  align-content: center;
  height: auto;
}

.comment-center {
  position: relative;
  top: auto;
  bottom: auto;
}

#comment-user {
  font-weight: 500;
  font-size: 20px;
}

#comment-votes {
  position: relative;
  text-align: center;
  font-size: 40px;
  margin: 0px;
  left: 47%;
  bottom: 60px;
}

.comment-card {
  position: relative;
  height: auto;
  font-weight: 1000;
  background-image: linear-gradient(
    to left,
    rgb(0, 183, 255),
    rgb(86, 255, 159)
  );
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

#comment-count {
  font-size: 30px;
}

.articles-image img {
  display: grid;
  margin: 10px;
  margin-top: 30px;
  max-width: 500px;
  max-height: 250px;
  grid-template-columns: 1fr;
  border-radius: 25px;
}

.card-text {
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: left;
  align-items: left;
  float: left;
}

.article-title {
  display: grid;
  grid-template-columns: 350px 1fr;
}

.article-info {
  display: grid;
  text-align: right;
  left: 100px;
  margin-right: 15px;
}

.nav-bar {
  margin: 10px;
}

ul {
  position: relative;
  height: auto;
  list-style-type: none;
  background-color: black;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 25px;
  background-image: linear-gradient(to left, #000536, #190063);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}
.article-card:hover {
  cursor: pointer;
  border-style: groove;
  border-width: 5px;
  border-color: rgb(0, 237, 254);
  background-image: linear-gradient(
    to bottom,
    rgb(255, 0, 0),
    rgb(255, 86, 168)
  );
}

.single-article-author {
  justify-content: center;
  position: relative;
  top: -40px;
  font-size: 20px;
}

.single-article-card {
  background-image: linear-gradient(to left, #9df9e2, #51f5ed);
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.single-article-image {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  height: auto;
  width: 400px;
  position: relative;
  left: 50px;
  top: -75px;
}

.single-article-body {
  display: grid;
  position: relative;
  width: 450px;
  height: auto;
  top: -170px;
  left: 775px;
  font-size: 30px;
  margin: -10px;
  text-align: left;
}

img {
  border-radius: 25px;
}

.article-id {
  display: none;
}

#single-article-title {
  font-size: 50px;
}

#single-article-votes {
  margin: 0px;
}

.vote-up img {
  position: relative;
  left: 47%;
  bottom: 180px;
  width: 50px;
}

.vote-up img:hover {
  background-color: rgb(0, 121, 2);
}

.vote-up img:disabled {
  color: black;
}

.vote-down img:hover {
  background-color: rgb(97, 0, 0);
}

.vote-down img:disabled {
  background-color: rgb(0, 0, 0);
}

.vote-down img {
  position: relative;
  left: 47%;
  bottom: 100px;
  width: 50px;
}

.article-vote-up input {
  position: relative;
  right: 90px;
  bottom: 75px;
  width: 40px;
  background: none;
}

.article-vote-down input {
  position: relative;
  left: 90px;
  bottom: 120px;
  width: 40px;
  background: none;
}

.article-vote-down input:hover {
  border-radius: 10px;
  background-color: rgb(97, 0, 0);
}

.article-vote-up input:hover {
  border-radius: 10px;
  background-color: rgb(0, 121, 2);
}

#comment-text {
  font-size: 30px;
  width: 95%;
  height: auto;
  resize: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

#comment-button {
  font-size: 20px;
  width: 10%;
  height: auto;
  resize: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

#comment-button:disabled {
  background: rgba(0, 0, 0, 0.5);
}

#comment-text:disabled {
  background: rgba(0, 0, 0, 0.5);
}

#delete-button:disabled {
  background: rgba(255, 0, 0, 0.5);
}

#delete-button {
  position: relative;
  right: 45%;
  top: 20px;
  font-size: 50px;
  border-radius: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.9;
}

#comment-body {
  font-size: 20px;
}

#select-topics {
  border-radius: 100px;
  margin: 25px;
  padding: 10px;
  background-color: black;
  color: white;
}
